<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="//webjar/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="style.css" rel="stylesheet"></link>
<script src="/webjarjs"></script>
<script data-main="js/app" src="/webjar/requirejs/require.min.js"></script>


</head>

<body>
	<nav>
		<ul>
			<li><a class="navigation-lien" href="/" title="titre">Home</a></li>
			<li><a class="navigation-lien" href="/customer" title="titre">Client</a></li>
			<li><a class="navigation-lien" href="/animal" title="titre">Animal</a></li>
			<li style="float: none;"><br style="clear: both;" /></li>
		</ul>
	</nav>

	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>