body {
	margin: 0px auto;
	text-align: center;
	font-family: verdana;
	font-size: 14px;
	background-color: #EDEDED;
}

.header {
	display: inline-block;
	width: 1000px;
	height: 50px;
	margin: 0px auto;
	border-left: solid 1px silver;
	border-right: solid 1px silver;
	border-bottom: dotted 2px silver;
	background-color: #F5F5F5;
}

.navigation {
	margin: 0px auto;
	text-align: center;
}

.navigation ul {
	list-style-type: none;
}

.navigation li {
	margin: 0px 10px;
	float: left;
}

.navigation-lien {
	color: black;
	text-decoration: none;
	padding-bottom: 4px;
	border-bottom: solid 4px silver;
}

.navigation-lien:hover {
	border-bottom: solid 4px black;
}

.main {
	text-align: left;
	border-left: solid 1px silver;
	border-right: solid 1px silver;
	background-color: white;
	display: inline-block;
	width: 1000px;
	margin: 0px auto;
}

.article {
	float: left;
	width: 660px;
	margin: 20px 40px;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
	padding-left: 15px;
}

.titre-article {
	color: firebrick;
	font-weight: bold;
	font-size: 14px;
}

.footer {
	display: inline-block;
	margin: 0px auto;
	width: 1000px;
	height: 50px;
	border-top: solid 1px silver;
	background-color: #EDEDED;
}

.footer ul {
	list-style-type: none;
}

.footer li {
	margin: 0px 10px;
	float: right;
}

.aside {
	float: right;
	padding-left: 15px;
	width: 210px;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
}